
Section 3/HelloWorld/.idea/$PRODUCT_WORKSPACE_FILE$
*.xml
Section 3/HelloWorld/HelloWorld.iml
*.iml
*.html
Section 4/SpeedConverterExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/MegaBytesConverterExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/BarkingDog/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/LeapYearExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/DecimalComparatorExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/EqualSumCheckerExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/TeenNumberCheckerExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/AreaCalculatorExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/MinutesToYearsCalculatorExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/EqualityPrinterExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/PlayingCatExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 5/NumberInWordExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 5/NumberOfDaysInMonthExercise/.idea/$PRODUCT_WORKSPACE_FILE$
.DS_Store
