
Section 3/HelloWorld/.idea/$PRODUCT_WORKSPACE_FILE$
*.xml
Section 3/HelloWorld/HelloWorld.iml
*.iml
*.html
Section 4/SpeedConverterExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/MegaBytesConverterExercise/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/BarkingDog/.idea/$PRODUCT_WORKSPACE_FILE$
Section 4/LeapYearExercise/.idea/$PRODUCT_WORKSPACE_FILE$
